# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment
.env

# Logs
logs/
*.log

# Database
database/*.db
database/*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
